.recipe-details {
  margin: auto;
  width: 400px;
}

.name-r {
  color: #333333;
  &:hover {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.source-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.ingredient {
  display: block;
}

.size {
  font-size: 14px;
  padding-left: 20px;
    }

.buttons {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.source {
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  left: 92px;
  &:hover {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
  }
}

.stuff {
  height: 34px;
  width: 122px;
  position: absolute;
  margin-top: 10px;
}

.comment-container {
  display: inline-block;
  margin: auto;
}
.comment-label {
  display: inline-block;
  margin: 20px
}
.text-area {
  margin-left: 20px;
}
.comment {
  margin: 0;
}

.new_comment {
  margin: auto;
}
textarea[id="comment_comment"] {
  width: 300px;
  height: 100px;
}

input[value="View Recipe"] {
  top: 0px;
  position: absolute;
  left: 40px;
}

input[value="Back"] {
  top: 0px;
  position: absolute;
  left: 162px;
}
